//out: ../css/main.css, sourcemap: true, compress: true


// General variables
@headerColor: #FFF000;
@paragraphColor: #000;
@footerFontColor: #bbb;
@finePrintSize: 10px;
@separatorColor: #ddd;

// General panel
@panelBackground: #FFF;
@panelBorderColor: #000;

// Navigation links
@navBackground: #1463f0;
@navLinkColor: #FFF;
@navLinkHovorBackground: #7dbaf9;
@navLinkActiveBackground: #adbaf9;
@navLinkSelectedBackground: #00baf9;

// Top banner
@topBannerBackground: #000;
@topBannerFontColor: #FFF;

// Screen sizes
@screen-sm: 768px; // Tablet



h1 {
  color: @headerColor;
  font-family: Tahoma, sans-serif;
}
p {
  // color: @paragraphColor;
  font-family: Calibri, sans-serif;
  @media screen {
    @media (max-width: @screen-sm) {
        font-size: 22px;
    }
  }
}

.container {
  min-width: 300px;
  max-width: 800px;
}

.panel {
  border: 2px solid @panelBorderColor;
  background: @panelBackground;
  margin: 10px;
}

.rounded-panel {
  .panel;
  border-radius: 15px;
  padding: 10px;
}

.profile-img {
  width: 200px;
  height: auto;
  margin: 10px;
}


#top-banner {
  font-size: 32px;
  background: @topBannerBackground;
  color: @topBannerFontColor;
  text-align: right;
  padding-right: 25px;

  /*only on small screen devices*/
  @media screen {
    @media (max-width: @screen-sm) {
      font-size: 32px;
    }
  }

}

#top-nav {
  margin-top:6px;
  margin-bottom:20px;
  text-align: center;

  a:link, a:visited {
    color: @navLinkColor;
    background: @navBackground;
    padding: 8px 18px 8px 18px;
    text-decoration: none;

    &.selectedTab {
      background: @navLinkSelectedBackground;
    }
  }

  a:hover, a:hover.selectedTab {
    background: @navLinkHovorBackground;
  }

  a:active, a:active.selectedTab {
    background: @navLinkActiveBackground;
  }
}

#footer {
  border-top: solid @separatorColor 1px;
  padding-top: 10px;

  p {
    color: @footerFontColor;
    font-size: @finePrintSize;
  }


}
