<div class="row">
  <h3>me</h3>
  <div class='col-md-4 col-md-push-8'>
    <img src="{{ ctrl.bossMan.img }}" alt="" class="profile-img">
  </div>
  <div class='col-md-8 col-md-pull-4'>
    <p class='content'>
      Hello, welcome to this place. I recently graduated from the University of Arkansas
      in May of 2017 with a Bachelor’s Degree in Computer Science with a minor in Mathematics.
      My undergraduate Honors Thesis research involved simulating foodborne pathogens in poultry
      production to generate meaningful data to help defend against intentional contamination.
      <br><br>
      As of June 2017, I work for General Motors as a software developer.
    </p>
  </div>
</div>
<blockquote class="row">
  <p>You know me, I am do what thoust am I tho</p>
  <footer>me</footer>
</blockquote>
